<app-header>
  <mat-toolbar
    class="app-header app-header-style bg-href"
    fxLayoutAlign="center center"
  >
    <div>
      <header style="font-size: x-large">ONLINE DATA FORMS</header>
    </div>
  </mat-toolbar>
</app-header>
<br />
<br />
<router-outlet></router-outlet>
<app-footer>
  <div>
    <mat-toolbar
      class="app-footer app-header-style bg-href"
      fxLayoutAlign="center center"
    >
      <a
        id="Facebook"
        href="https://www.facebook.com/"
        class="bg-href"
        target="_blank"
        >Facebook</a
      >
      &nbsp;&nbsp;
      <a
        id="Gmail"
        href="https://accounts.google.com/ServiceLogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin/"
        target="_blank"
        class="bg-href"
        >Gmail</a
      >
      &nbsp;&nbsp;
      <a
        id="Youtube"
        href="https://www.youtube.com/"
        target="_blank"
        class="bg-href"
        >Youtube</a
      >
      &nbsp;&nbsp;
      <a
        id="LinkedIn"
        href="https://www.linkedin.com/"
        class="bg-href"
        target="_blank"
        >LinkedIn</a
      >
      &nbsp;&nbsp;
      <a id="Github" href="https://github.com/" class="bg-href" target="_blank"
        >Github</a
      >
    </mat-toolbar>
  </div>
</app-footer>
